SECRET_KEY=change-me # Change this to a strong, unique secret key for your application and update docker ENV directly
FLASK_APP=wsgi.py
FLASK_ENV=development # Change this to 'production' for your production environment
FLASK_DEBUG=True

POSTGRES_USER=refuge
POSTGRES_PASSWORD=refuge # Change this to a strong, unique secret key for your application and update docker ENV directly
POSTGRES_DB=refuge
DATABASE_URL=postgresql://refuge:refuge@db:5432/refuge
